---
export interface Props {
  tags: string[];
  class?: string;
}

const base = import.meta.env.BASE_URL || '/';
const { tags = [], class: className = '' } = Astro.props;
---

{tags.length > 0 && (
  <div class={`flex flex-wrap gap-2 mt-3 ${className}`}>
    {tags.map(tag => (
      <a 
        href={`${base}tags/${tag}`}
        class="inline-flex items-center rounded-full bg-zinc-100 px-2.5 py-0.5 text-xs font-medium text-zinc-800 hover:bg-zinc-200 dark:bg-zinc-800 dark:text-zinc-100 dark:hover:bg-zinc-700"
      >
        {tag}
      </a>
    ))}
  </div>
)}